@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&display=swap");

/* common styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
  font-family: "Baloo 2", cursive;
}

h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  line-height: 36px;
}
h3 {
  font-size: 30px;
  line-height: 30px;
}
h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}
h5 {
  font-size: 14px;
  line-height: 18px;
}
h6 {
  font-size: 12px;
  line-height: 14px;
}

a,
button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btn:focus {
  box-shadow: none;
}

a,
button,
img,
input,
span {
  transition: all 0.3s ease 0s;
}


a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}




/* **********Slider Section *************** */
.single_slider {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.slider_area {
  margin-bottom: 35px;
}

.slider_area.owl-carousel .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.slider_area.owl-carousel .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  background: #242424;
  margin: 0 5px;
  transition: 0.3s;
  position: relative;
}

.slider_area.owl-carousel .owl-dots .owl-dot.active {
  transition: 0.3s;
}

.slider_area.owl-carousel .owl-dots .owl-dot.active::before {
  position: absolute;
  content: "";
  background: #a8741a;
  width: 13px;
  height: 13px;
  left: -3px;
  top: -3px;
  border-radius: 50%;
}

.slider_area .single_slider .row {
  height: 500px;
}

.slider_area .slider_content {
  margin-left: 20px;
  overflow: hidden;
}
.slider_black .slider_content p {
  color: #a8741a;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 22px;
}

.slider_black .slider_content p.slider_price {
  color: #fff;
}
.slider_black .slider_content p.slider_price span {
  color: #a8741a;
  margin-bottom: 0;
}

.slider_black .slider_content h1 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: "Baloo 2", serif;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content h1 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 8px;
  }
}

.slider_black .slider_content span {
  font-size: 24px;
  color: #cccccc;
  margin-bottom: 35px;
  display: inline-block;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content span {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.slider_black .slider_content a {
  background: #a8741a;
  margin-top: 30px;
}

.slider_black .slider_content a:hover {
  background: #212121;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content a {
    margin-top: 43px;
  }
}

.active .slider_content > span {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fadeInLeft;
  animation-delay: 0.7s;
}

.active .slider_content p,
.active .slider_content h1,
.active .slider_content a {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}

.active .slider_content h1 {
  animation-delay: 0.6s;
}

.active .slider_content a {
  animation-delay: 0.9s;
}
.slider_content p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #242424;
  margin-bottom: 11px;
  text-transform: capitalize;
}

.slider_content h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #212121;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.slider_content p.slider_price {
  color: #fff;
  font-size: 18px;
}

.slider_content p.slider_price span {
  font-size: 22px;
  font-weight: 500;
  margin-left: 8px;
  color: #a8741a;
  margin-bottom: 0;
}

.slider_content a {
  font-weight: 500;
  margin-top: 25px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
}

.slider_content a:hover {
  background: #212121;
}
.button {
  background: #a8741a;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 22px;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
}


